parameters:
    level: 0
    phpVersion:
        min: 80100
        max: 80499
    paths:
        - plugins/schemaOrgData
    bootstrapFiles:
        - phpstan-bootstrap.php
    dynamicConstantNames:
        - CAT_REQUEST
        - PAGE_REQUEST
