<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="tests/bootstrap.php"
         colors="true"
         stopOnFailure="false">
  <testsuites>
    <testsuite name="schemaOrgData">
      <directory>tests</directory>
      <exclude>tests/Validation</exclude>
    </testsuite>
    <testsuite name="schemaOrgData-Validation">
      <directory>tests/Validation</directory>
    </testsuite>
  </testsuites>
</phpunit>
